/*.bat
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.spl
*.synctex.gz
*.dvi
*.xdv
*.gz
*.toc
*.bak
*.sav
*.xml
*.snm
*.bcf
*.nav
*.rar
*.swn
*.swo
*.swp
settings.json
public/*
qualification/*

DREAM4_Multifactorial_Network_1_AUPR.tikz
DREAM4_Multifactorial_Network_2_AUPR.tikz
DREAM4_Multifactorial_Network_3_AUPR.tikz
DREAM4_Multifactorial_Network_5_AUPR.tikz
